<h1>view new</h1>
<div class="bg-white rounded p-3 shadow">
  <h3>Create a new list</h3>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'your name list' %>
    <%= f.submit class: 'btn btn-flat' %>
  <% end %>
</div>
